body {
  padding-top: 50px;
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 30px;
}

/* .move-emoji {
  height: 50px;
} */

.move-button {
  background-color: transparent;
  border: 3px solid;
  border-color: white;
  padding: 30px 35px;
  border-radius: 80px;
  margin: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.game-result {
  margin-top: 30px;
  font-size: 25px;
  font-weight: bold;
}

.score-card {
  margin-top: 50px;
  font-size: 20px;
}


.play-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}